<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <!-- Bootstrap -->
  <link rel="stylesheet" href="../../assets/libs/bootstrap/css/bootstrap-grid.min.css" />
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
  </script>
  <script src="../../assets/libs/bootstrap/js/bootstrap.min.js" defer></script>
  <!-- Normalize -->
  <link rel="stylesheet" href="../../assets/libs/normalize/normalize.css" />
  <!-- FontAwesome CDN -->
  <script src="https://kit.fontawesome.com/0f43a8f1c0.js" crossorigin="anonymous"></script>
  <!-- Custom styles and scripts -->
  <link rel="stylesheet" href="../../assets/styles/css/main.css" />
  <script src="../../assets/scripts/main.js" defer></script>

<body>
  <nav class="nav">
    <div class="container">
      <div class="row">
        <div
          class="nav__logo-container col-12 col-lg-3 col-xl-3 justify-content-between"
        >
          <div class="row">
            <a href="index.html" class="nav__logo col-6"></a>
            <div class="nav__hamburger-container d-xl-none d-lg-none col-6">
              <div class="nav__hamburger">
                <span class="line"></span>
                <span class="line"></span>
                <span class="line"></span>
              </div>
            </div>
          </div>
        </div>

        <div
          class="col-12 col-lg-6 col-xl-6 mt-5 mt-lg-0 hidden"
          id="links-container"
        >
          <ul class="nav__links-container">
            <li class="nav__link"><a href="index.html">Home</a></li>
            <li class="nav__link">
              <a href="memberships.html">Memberships</a>
            </li>
            <li class="nav__link"><a href="shop.html">Shop</a></li>
            <li class="nav__link active">
              <a href="company.html">The&nbsp;company</a>
            </li>
            <li class="nav__link">
              <a href="contact.html">Contact&nbsp;us</a>
            </li>
          </ul>
        </div>

        <div
          class="nav__buttons col-12 col-lg-3 col-xl-3 my-5 my-lg-0 hidden"
          id="buttons-container"
        >
          <a
            href="shopping_cart.html"
            class="button button--base-sm button--primary-light button--filled d-lg-none d-xl-none"
          >
            <i
              class="fas fa-shopping-cart nav__shopping-cart nav__shopping-cart--mobile"
            ></i
            >Shopping&nbsp;cart
          </a>
          <a href="shopping_cart.html">
            <i
              class="fas fa-shopping-cart nav__shopping-cart nav__shopping-cart--desktop d-none d-lg-block"
              ><span id="totalCartAmountDot"></span
            ></i>
          </a>
          <button
            class="nav__login button button--base-sm button--primary-light"
          >
            Login
          </button>
        </div>
      </div>
    </div>
  </nav>

</body>

</html>