<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <!-- Bootstrap -->
    <link
      rel="stylesheet"
      href="../../assets/libs/bootstrap/css/bootstrap-grid.min.css"
    />
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="../../assets/libs/bootstrap/js/bootstrap.min.js"
      defer
    ></script>
    <!-- Normalize -->
    <link rel="stylesheet" href="../../assets/libs/normalize/normalize.css" />
    <!-- FontAwesome CDN -->
    <script
      src="https://kit.fontawesome.com/0f43a8f1c0.js"
      crossorigin="anonymous"
    ></script>
    <!-- Custom styles and scripts -->
    <link rel="stylesheet" href="../../assets/styles/css/main.css" />
    <script src="../../assets/scripts/main.js" defer></script>
  </head>
  <body>
    <!-- Template navigation -->
    <div class="row">
      <div class="col-12">
        <div style="display: flex; justify-content: space-between;">
          <a href="breadcrumbs.html">breadcrumbs</a>
          <a href="buttons.html">buttons</a>
          <a href="cards.html">cards</a>
          <a href="date-picker.html">date-picker</a>
          <a href="forms.html">forms</a>
          <a href="typography.html">typography</a>
        </div>
      </div>
    </div>
    <!-- End of template navigation -->

    <div class="container-fluid">
      <div class="row mt-4">
        <div class="col-2">
          <button class="button button--base-lg button--primary-light">
            Button base lg
          </button>
        </div>
        <div class="col-2">
          <button class="button button--base-sm button--primary-light">
            Button base sm
          </button>
        </div>
        <div class="col-2">
          <button class="button button--base-lg button--primary-dark">
            Button base lg
          </button>
        </div>
        <div class="col-2">
          <button class="button button--base-sm button--primary-dark">
            Button base sm
          </button>
        </div>
        <div class="col-2">
          <button class="button button--base-lg button--secondary">
            Button base lg
          </button>
        </div>
        <div class="col-2">
          <button class="button button--base-sm button--secondary">
            Button base sm
          </button>
        </div>
      </div>

      <div class="row mt-4">
        <div class="col-2">
          <button
            class="button button--base-lg button--primary-light button--filled"
          >
            Button base lg
          </button>
        </div>
        <div class="col-2">
          <button
            class="button button--base-sm button--primary-light button--filled"
          >
            Button base sm
          </button>
        </div>
        <div class="col-2">
          <button
            class="button button--base-lg button--primary-dark button--filled"
          >
            Button base lg
          </button>
        </div>
        <div class="col-2">
          <button
            class="button button--base-sm button--primary-dark button--filled"
          >
            Button base sm
          </button>
        </div>
        <div class="col-2">
          <button
            class="button button--base-lg button--secondary button--filled"
          >
            Button base lg
          </button>
        </div>
        <div class="col-2">
          <button
            class="button button--base-sm button--secondary button--filled"
          >
            Button base sm
          </button>
        </div>
      </div>

      <div class="row mt-4">
        <div class="col-2">
          <button class="button button--base-lg button--disabled">
            Button base lg
          </button>
        </div>
        <div class="col-2">
          <button class="button button--base-sm button--disabled">
            Button base sm
          </button>
        </div>
        <div class="col-2">
          <button class="button button--base-lg button--warning">
            Button base lg
          </button>
        </div>
        <div class="col-2">
          <button class="button button--base-sm button--warning">
            Button base sm
          </button>
        </div>
      </div>

      <div class="row mt-4">
        <div class="col-2">
          <button
            class="button button--base-lg button--disabled button--filled"
          >
            Button base lg
          </button>
        </div>

        <div class="col-2">
          <button
            class="button button--base-sm button--disabled button--filled"
          >
            Button base sm
          </button>
        </div>

        <div class="col-2">
          <button class="button button--base-lg button--warning button--filled">
            Button base lg
          </button>
        </div>

        <div class="col-2">
          <button class="button button--base-sm button--warning button--filled">
            Button base sm
          </button>
        </div>
      </div>
    </div>
  </body>
</html>
