<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <!-- Bootstrap -->
    <link
      rel="stylesheet"
      href="../../assets/libs/bootstrap/css/bootstrap-grid.min.css"
    />
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="../../assets/libs/bootstrap/js/bootstrap.min.js"
      defer
    ></script>
    <!-- Normalize -->
    <link rel="stylesheet" href="../../assets/libs/normalize/normalize.css" />
    <!-- FontAwesome CDN -->
    <script
      src="https://kit.fontawesome.com/0f43a8f1c0.js"
      crossorigin="anonymous"
    ></script>
    <!-- Custom styles and scripts -->
    <link rel="stylesheet" href="../../assets/styles/css/main.css" />
    <script src="../../assets/scripts/main.js" defer></script>
  </head>
  <body>
    <!-- Template navigation -->
    <div class="row">
      <div class="col-12">
        <div style="display: flex; justify-content: space-between;">
          <a href="breadcrumbs.html">breadcrumbs</a>
          <a href="buttons.html">buttons</a>
          <a href="cards.html">cards</a>
          <a href="date-picker.html">date-picker</a>
          <a href="forms.html">forms</a>
          <a href="typography.html">typography</a>
        </div>
      </div>
    </div>
    <!-- End of template navigation -->

    <div class="container-fluid">
      <div class="row mt-5">
        <div class="col-12">
          <h2>card</h2>
        </div>
        <div class="col-3">
          <div class="card">
            <div class="card__image">
              <img
                src="../../assets/images/photos/steering-wheel-wash.jpg"
                alt=""
              />
            </div>
            <div class="card__content">
              <div class="card__label">
                <h4 class="card__title">Card title</h4>
                <a href="" class="card__link">Go to page</a>
              </div>

              <p class="card__description">
                card teext text textcard teext text textcard teext text textcard
                teext text textcard teext text text
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="row mt-5">
        <div class="col-4">
          <div class="col-12">
            <h2>card card--button</h2>
          </div>
          <div class="card card--button">
            <div class="card__image">
              <img
                src="../../assets/images/photos/steering-wheel-wash.jpg"
                alt=""
              />
            </div>
            <div class="card__content">
              <div class="card__label">
                <h4 class="card__title">Card title</h4>
                <h4>
                  <a href="" class="card__link"
                    ><i class="fas fa-arrow-right"></i
                  ></a>
                </h4>
              </div>

              <p class="card__description">
                card teext text textcard teext text textcard teext text textcard
                teext text textcard teext text text
              </p>

              <div class="card__features">
                <h4 class="card__price">175</h4>
                <button
                  class="card__button button button--base-lg button--primary-light"
                >
                  Add to cart
                  <i class="fas fa-cart-plus"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row mt-5">
        <div class="col-4">
          <div class="col-12">
            <h2>card card--button card--description</h2>
          </div>
          <div class="card card--button card--description">
            <div class="card__image">
              <img
                src="../../assets/images/photos/steering-wheel-wash.jpg"
                alt=""
              />
            </div>
            <div class="card__content">
              <div class="card__label">
                <h4 class="card__title">Card title</h4>
                <h4>
                  <a href="" class="card__link"
                    ><i class="fas fa-arrow-right"></i
                  ></a>
                </h4>
              </div>

              <p class="card__description">
                card teext text textcard teext text textcard teext text textcard
                teext text textcard teext text text
              </p>

              <div class="card__features">
                <h4 class="card__price">175</h4>
                <button
                  class="card__button button button--base-lg button--primary-light"
                >
                  Add to cart
                  <i class="fas fa-cart-plus"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row mt-5">
        <div class="col-4">
          <div class="col-12">
            <h2>card card--button card--description card--price</h2>
          </div>
          <div class="card card--button card--description card--price">
            <div class="card__image">
              <img
                src="../../assets/images/photos/steering-wheel-wash.jpg"
                alt=""
              />
            </div>
            <div class="card__content">
              <div class="card__label">
                <h4 class="card__title">Card title</h4>
                <h4>
                  <a href="" class="card__link"
                    ><i class="fas fa-arrow-right"></i
                  ></a>
                </h4>
              </div>

              <p class="card__description">
                card teext text textcard teext text textcard teext text textcard
                teext text textcard teext text text
              </p>

              <div class="card__features">
                <h4 class="card__price">175</h4>
                <button
                  class="card__button button button--base-lg button--primary-light"
                >
                  Add to cart
                  <i class="fas fa-cart-plus"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row mt-5">
        <div class="col-12">
          <h2>
            card shop-item card--image card--button card--description
            card--price card--clickable
          </h2>
        </div>
        <div class="col-3">
          <div
            class="card card--image card--button card--description card--price card--clickable"
          >
            <div class="card__image">
              <img
                src="../../assets/images/photos/steering-wheel-wash.jpg"
                alt=""
              />
            </div>
            <div class="card__content">
              <div class="card__label">
                <h4 class="card__title">
                  Card title
                </h4>
                <h4>
                  <a href="" class="card__link"
                    ><i class="fas fa-arrow-right"></i
                  ></a>
                </h4>
              </div>

              <p class="card__description">
                card teext text textcard teext text textcard teext text textcard
                teext text textcard teext text text
              </p>

              <div class="card__features">
                <h4 class="card__price">175</h4>
                <button
                  class="card__button button button--base-lg button--primary-light"
                >
                  Add to cart
                  <i class="fas fa-cart-plus"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row mt-5">
        <div class="col-12">
          <h2>
            card shop-item card--image card--button card--description
            card--price card--clickable card--memberships-badge
          </h2>
        </div>
        <div class="col-3">
          <div
            class="card card--image card--button card--description card--price card--clickable card--memberships-badge"
          >
            <div class="card__image">
              <div class="card__memberships-badge">
                <span class="card__memberships-badge--platinum"></span>
                <span class="card__memberships-badge--gold"></span>
                <span class="card__memberships-badge--silver"></span>
                <span class="card__memberships-badge--bronze"></span>
              </div>
              <img
                src="../../assets/images/photos/steering-wheel-wash.jpg"
                alt=""
              />
            </div>
            <div class="card__content">
              <div class="card__label">
                <h4 class="card__title">
                  Card title
                </h4>
                <h4>
                  <a href="" class="card__link"
                    ><i class="fas fa-arrow-right"></i
                  ></a>
                </h4>
              </div>

              <p class="card__description">
                card teext text textcard teext text textcard teext text textcard
                teext text textcard teext text text
              </p>

              <div class="card__features">
                <h4 class="card__price">175</h4>
                <button
                  class="card__button button button--base-lg button--primary-light"
                >
                  Add to cart
                  <i class="fas fa-cart-plus"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row mt-5">
        <div class="col-12">
          <h2>card card--horizontal card--image card--price card--amount</h2>
        </div>
        <div class="col-6">
          <div
            class="card card--horizontal card--image card--price card--amount"
          >
            <div class="card__image">
              <img
                src="../../assets/images/photos/steering-wheel-wash.jpg"
                alt=""
              />
            </div>
            <div class="card__content">
              <div class="card__label">
                <h4 class="card__title">Card title</h4>
                <a href="" class="card__link">Remove item</a>
              </div>

              <p class="card__description">
                card teext text textcard teext text textcard teext text textcard
                teext text textcard teext text text
              </p>

              <div class="card__features">
                <h4 class="card__price">175</h4>
                <div class="card__amount">
                  <div class="card__amount--decrease">-</div>
                  <div class="card__amount--display">1</div>
                  <div class="card__amount--increase">+</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row mt-5">
        <div class="col-12">
          <h2>
            card card--membership card--image card--button card--centered
            card--price
          </h2>
        </div>
        <div class="col-3">
          <div
            class="card card--membership card--image card--button card--description card--centered card--price"
          >
            <div class="card__image">
              <img src="../../assets/images/svgs/CCW_logo.svg" alt="" />
            </div>
            <div class="card__content">
              <h4 class="card__title">Platinum</h4>
              <p class="card__description">
                The quick, brown fox jumps over a lazy dog. DJs flock by when
                MTV
              </p>
              <h4 class="card__price">175,-</h4>
              <button
                class="card__button button button--base-lg button--secondary button--filled"
              >
                Buy now
              </button>
              <div class="card__amount">
                <div class="card__amount--decrease">-</div>
                <div class="card__amount--display">1</div>
                <div class="card__amount--increase">+</div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row mt-5">
        <div class="col-12">
          <h2>
            card card--membership card--image card--horizontal card--amount
          </h2>
        </div>
        <div class="col-6">
          <div
            class="card card--membership card--image card--description card--horizontal card--price card--amount"
          >
            <div class="card__image">
              <img src="../../assets/images/svgs/CCW_logo.svg" alt="" />
            </div>
            <div class="card__content">
              <h4 class="card__title">Platinum</h4>
              <p class="card__description">
                The quick, brown fox jumps over a lazy dog. DJs flock by when
                MTV
              </p>
              <div class="card__features">
                <h4 class="card__price">175,-</h4>
                <div class="card__amount">
                  <div class="card__amount--decrease">-</div>
                  <div class="card__amount--display">1</div>
                  <div class="card__amount--increase">+</div>
                </div>
                <button
                  class="card__button button button--base-lg button--secondary button--filled"
                >
                  Buy now
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row mt-5">
        <div class="col-12">
          <h2>
            card card--badge
          </h2>
        </div>
        <div class="col-2">
          <div class="card card--badge">
            <h2 class="card__title">title</h2>
            <p class="card__subtitle">subtitle</p>
          </div>
        </div>
      </div>

      <div class="row mt-5">
        <div class="col-12">
          <h2>
            card shopping-cart-total-card
          </h2>
        </div>
        <div class="col-3">
          <div class="card shopping-cart-total-card">
            <div class="shopping-cart-total-card__item">
              <p class="shopping-cart-total-card__item-name">Item 1</p>
              <h5 class="shopping-cart-total-card__item-price">100,-</h5>
            </div>

            <div class="shopping-cart-total-card__item">
              <p class="shopping-cart-total-card__item-name">Item 1</p>
              <h5 class="shopping-cart-total-card__item-price">100,-</h5>
            </div>

            <div class="shopping-cart-total-card__item">
              <p class="shopping-cart-total-card__item-name">Item 1</p>
              <h5 class="shopping-cart-total-card__item-price">100,-</h5>
            </div>

            <div class="shopping-cart-total-card__coupon">
              <h6 class="shopping-cart-total-card__coupon-label">Coupon</h6>

              <input
                type="text"
                name=""
                id="coupon"
                class="shopping-cart-total-card__coupon-input text-input__input"
              />
            </div>

            <div class="shopping-cart-total-card__total">
              <h3 class="shopping-cart-total-card__total-label">Total:</h3>
              <h3 class="shopping-cart-total-card__total-price">700,-</h3>
            </div>

            <div class="shopping-cart-total-card__buttons">
              <button
                class="shopping-cart-total-card__button button button--base-lg button--primary-light button--filled"
              >
                Proceed to checkout
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="row mt-5">
        <div class="col-12">
          <h2>
            card checkout-total-card
          </h2>
        </div>
        <div class="col-3">
          <div class="card checkout-total-card">
            <dl class="choice-group">
              <dt class="choice-group__title">Location</dt>
              <dd class="choice-group__description">Aalborg</dd>
            </dl>
            <dl class="choice-group">
              <dt class="choice-group__title">Date and time</dt>
              <dd class="choice-group__description">11.06.2020</dd>
            </dl>
            <dl class="choice-group">
              <dt class="choice-group__title">Your car</dt>
              <dd class="choice-group__description">BMW M3</dd>
            </dl>
            <dl class="choice-group">
              <dt class="choice-group__title">License plate number</dt>
              <dd class="choice-group__description">KL 3209 SD</dd>
            </dl>

            <div class="checkout-total-card__item">
              <p class="checkout-total-card__item-name">Total price</p>
              <h5 class="checkout-total-card__item-price">800,-</h5>
            </div>

            <div class="checkout-total-card__item">
              <p class="checkout-total-card__item-name">VAT</p>
              <h5 class="checkout-total-card__item-price">100,-</h5>
            </div>

            <div class="checkout-total-card__coupon">
              <h6 class="checkout-total-card__coupon-label">Coupon</h6>

              <h5 class="checkout-total-card__coupon-value">-100,-</h5>
            </div>

            <div class="checkout-total-card__total">
              <h3 class="checkout-total-card__label">Total:</h3>
              <h3 class="checkout-total-card__total-price">700,-</h3>
            </div>
          </div>
        </div>
      </div>

      <div class="row mt-5">
        <div class="col-12">
          <h2>
            card service-info-card
          </h2>
        </div>
        <div class="col-3">
          <div class="card service-info-card">
            <h4 class="service-info-card__title">title</h4>

            <div class="service-info-card__price">
              <p class="service-info-card__price-label">Price:</p>
              <h4 class="service-info-card__price-value">230,-</h4>
            </div>

            <div class="service-info-card__time">
              <p class="service-info-card__time-label">Time:</p>
              <h4 class="service-info-card__time-value">8-24 hr</h4>
            </div>

            <div class="service-info-card__buttons">
              <button
                class="service-info-card__button button button--base-sm button--primary-light button--filled"
              >
                Add to cart
                <i class="fas fa-cart-plus"></i>
              </button>
              <button
                class="service-info-card__button button button--base-sm button--secondary"
              >
                Buy now
              </button>
              <a href="">See available times</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
