.button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;

  overflow: visible;
  background: transparent;
  font-weight: $bold;

  cursor: pointer;
  transition: all $very-fast ease-out;
  @include flex-center;

  &--base-lg {
    border: 3px solid;
    padding: $button-padding-lg;
    @include border-round-lg;
  }

  &--base-sm {
    border: 2px solid;
    padding: $button-padding-sm;
    @include border-round-lg;
  }

  &--primary-light {
    border-color: $primary-light;
    color: $primary-light;

    &:hover {
      background-color: $primary-light;
      color: $text-light;
    }

    &.button--filled {
      background-color: $primary-light;
      color: $text-light;

      &:hover {
        background-color: lighten($primary-light, 10);
        border-color: lighten($primary-light, 10);
      }
    }
  }

  &--primary-dark {
    border-color: $primary-dark;
    color: $primary-dark;

    &:hover {
      background-color: $primary-dark;
      color: $text-light;
    }

    &.button--filled {
      background-color: $primary-dark;
      color: $text-light;

      &:hover {
        background-color: darken($primary-dark, 10);
        border-color: darken($primary-dark, 10);
      }
    }
  }

  &--secondary {
    border-color: $secondary;
    color: $secondary;

    &:hover {
      background-color: $secondary;
      color: $text-light;
    }

    &.button--filled {
      background-color: $secondary;
      color: $text-light;

      &:hover {
        background-color: darken($secondary, 10);
        border-color: darken($secondary, 10);
      }
    }
  }

  &--warning {
    border-color: $warning;
    color: $warning;

    &:hover {
      background-color: $warning;
      color: $text-light;
    }

    &.button--filled {
      background-color: $warning;
      color: $text-light;

      &:hover {
        background-color: darken($warning, 10);
        border-color: darken($warning, 10);
      }
    }
  }

  &--disabled {
    border-color: $greyed-out;
    color: $greyed-out;
    cursor: not-allowed;

    &.button--filled {
      background-color: $greyed-out;
      color: $greyed-out-dark;
    }
  }

  &--tab-left {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  &--tab-right {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
}
