.main-contact {
  &:after {
    @include bubbles-after;
  }

  &:before {
    @include bubbles-before;
  }

  margin-top: 4rem;
  @media (min-width: $media-sm) {
  }

  @media (min-width: $media-md) {
  }

  @media (min-width: $media-lg) {
  }

  @media (min-width: $media-xl) {
    margin-top: 12rem;
  }

  &__address {
    padding: 4rem 0;
    iframe {
      border: none;
      height: 60vh;
      @media (min-width: $media-sm) {
      }

      @media (min-width: $media-md) {
        height: 50vh;
      }

      @media (min-width: $media-lg) {
        height: 70vh;
      }

      @media (min-width: $media-xl) {
        height: 60vh;
      }
    }
  }

  &__form {
    // padding: 4rem 0;
    fieldset {
      border: none;
      padding: 0;
      textarea {
        resize: none;
        height: 24rem;
      }
    }
  }
}
