@-webkit-keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@-webkit-keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@-webkit-keyframes moveOutLeft {
  0% {
    opacity: 1;
    transform: translateX(0);
  }

  100% {
    opacity: 0;
    transform: translateX(-100%);
  }
}

@keyframes moveOutLeft {
  0% {
    opacity: 1;
    transform: translateX(0);
  }

  100% {
    opacity: 0;
    transform: translateX(-100%);
  }
}

@-webkit-keyframes moveOutRight {
  0% {
    opacity: 1;
    transform: translateX(0);
  }

  100% {
    opacity: 0;
    transform: translateX(100%);
  }
}

@keyframes moveOutRight {
  0% {
    opacity: 1;
    transform: translateX(0);
  }

  100% {
    opacity: 0;
    transform: translateX(100%);
  }
}

@-webkit-keyframes shoppingCartAdd {
  0% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(15%);
  }
  60% {
    transform: translateY(10%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes shoppingCartAdd {
  0% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(15%);
  }
  60% {
    transform: translateY(10%);
  }
  100% {
    transform: translateY(0);
  }
}

@-webkit-keyframes pulse {
  0% {
    transform: scale(1) translateY(0);
    // transform: translateY(0);
  }

  50% {
    transform: scale(1.3) translateY(-10%);
    // transform: translateY(15%);
  }

  100% {
    transform: scale(1) translateY(0);
    // transform: translateY(0);
  }
}

@keyframes pulse {
  0% {
    transform: scale(1) translateY(0);
    // transform: translateY(0);
  }

  50% {
    transform: scale(1.3) translateY(-10%);
    // transform: translateY(15%);
  }

  100% {
    transform: scale(1) translateY(0);
    // transform: translateY(0);
  }
}

@-webkit-keyframes showStep {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes showStep {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
